services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    ports:
      - "3080:3306"
    volumes:
      - D:/sgdimage/mysql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    depends_on:
      - mariadb
    environment:
      PMA_HOST: mariadb
      PMA_USER: root
      PMA_PASSWORD: rootpass
    ports:
      - "8080:80"

  postgres:
    image: postgres:18
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: sgdpg
      POSTGRES_PASSWORD: sgdpass
      POSTGRES_DB: sgddb
    ports:
      - "5432:5432"
    volumes:
      - D:/sgdimage/pg-data:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@sgd.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
    - D:/sgdimage/pg-admin-data:/var/lib/pgadmin
    - D:/sgdimage/pg-backups:/pgadmin_backups

volumes:
  db_data:
  postgres_data:
