.p-accordion-tab .p-accordion-header{
  padding: 1px;
  background-color: #a0a0a0;
  border-radius: 5px;
}

/* Utility class for overlay-light background */
.bg-overlay-light {
  background: var(--overlay-light);
}


/* Global CSS for the all DataTable header */
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  background-color: #95a8b5;
  color: white;
}