.desktop-ui {
  background-color: aqua;
  height: 100vh;
  margin: 0px;
  border-radius: 5px;
  padding: 5px;
}

.app-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.app-bar-left {
  padding: 5px;
}

.app-bar-center {
  padding: 5px;
}

.app-bar-right {
  padding: 5px;
}